@import "tailwindcss";

:root {
  --primary-color: #171717;
  --secondary-color: #979797;
  --text-color: #888888;
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: arial, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}
