@import "tailwindcss";

:root {
  --primary-color: #171717;
  --primary-color-light: #222222;
  --secondary-color: #ffffff;
  --secondary-color-dark: #cecece;
  --text-color: #888888;
  --border-color: #505050;
}

@theme {
  --color-primary: var(--primary-color);
  --color-primary-light: var(--primary-color-light);
  --color-secondary: var(--secondary-color);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-tertiary: var(--text-color);
  --color-tertiary-dark: var(--border-color);
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: arial, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}

.main-content {
  padding: 0 0 0 271px;
}

/* Buttons */

.btn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  text-transform: capitalize;
}

.primary-btn {
  background-color: var(--secondary-color);
  font-weight: 600;
  transition: all;
  transition-duration: 300ms;
  color: var(--primary-color);
  margin-right: 0.75rem;
}
.primary-btn:hover {
  background-color: var(--secondary-color-dark);
}

.secondary-btn {
  background-color: var(--primary-color-light);
  color: var(--secondary-color);
  font-weight: 400;
  transition: all;
  transition-duration: 300ms;
}
.secondary-btn:hover {
  background-color: var(--primary-color);
}
