@import "tailwindcss";

:root {
  --primary-color: #171717;
  --primary-color-light: #222222;
  --secondary-color: #ffffff;
  --secondary-color-dark: #cecece;
  --text-color: #888888;
  --border-color: #333333;
}

@theme {
  --color-primary: var(--primary-color);
  --color-primary-light: var(--primary-color-light);
  --color-secondary: var(--secondary-color);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-tertiary: var(--text-color);
  --color-tertiary-dark: var(--border-color);
}

body {
  background: var(--primary-color);
  color: var(--text-color);
  font-family: arial, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}

.main-content {
  padding: 0 0 0 271px;
}
